<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Консольный аппендер -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%-5level] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Логирование в файл -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app-meta.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/old/app-meta-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS X} [%-5level] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Логирование в отдельный файл для app.track -->
    <appender name="FILE_TRACK" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app-meta.track.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/old/app-meta-%d{yyyy-MM-dd}.track.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS X} [%-5level] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Настройка логирования для конкретного пакета -->
    <logger name="org.apache.kafka" level="warn">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>

    <!-- Настройка логирования для конкретного логгера app.* -->
    <logger name="kz.app.appdbtools.repository.impl.JdbcDbImpl" level="info">
<!--
        <appender-ref ref="CONSOLE"/>
-->
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="app.track" level="info" additive="false">
        <appender-ref ref="FILE_TRACK"/>
    </logger>

    <!-- Общий уровень логирования -->
    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
